{% extends "base.html" %}

{% block content %}
  <button><a href="/auth/logout">Log Out</a></button>
    <table id="userData">
      <thead>
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Status</th>
          <th>Tier</th>
        </tr>
      </thead>
      <tbody>
        {% for user in data['users'] %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.status.name }}</td>
          <td>{{ user.tier.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#userData').DataTable();
    });
  </script>
{% endblock %}