{% extends "base.html" %}

{% block content %}

<h2>Your Lists</h2>

<table id="vocabListsTable" class="display">
    <thead>
        <tr>
            <th>Title</th>
            <th>Book</th>
            <th>No. of Words</th>
        </tr>
    </thead>
    <tbody>
        {% for l in data["lists"] %}
        <tr>
            <td><a href="/list/{{l.id}}">{{ l.title }}</a></td>
            <td>{{ l.book_id }}</td>
            <td>{{ l.num_words }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#vocabListsTable').DataTable();
    });
  </script>
{% endblock %}